.parent{
    background-color: green;
    
}
.child1{
    background-color: rgb(170, 39, 39);
    margin: 5px;
    padding: 5px;
}
.child2{
background-color: rgb(173, 173, 7);
   margin: 5px;
    padding: 5px;
}
